//Demo styles for charts
//gauge js
.widget-gauge {
    text-align: center;
}

.goal-wrapper {
    font-size: $size20px;
    font-weight: 600;
     margin-top:8px;
    .gauge-value {
        color: $successColor;
    }
    .goal-value{
      color:#999;
    }
}
//chartjs
.tc-chart-js-legend{
  list-style: none;
  margin:0;
  padding:0;
  li {
  display: inline-block;
  padding:0 10px;
  font-size: $size12px;
  }
  li span{
    width:10px;
    height:10px;
    display: inline-block;
    @include roundBorders(50px);
    margin:0 5px;
  }
}
.server-chart{
  ul{
    margin:0;
    padding:0;
  }
    ul li{
      list-style: none;
    }
}

.browser-chart{
  height: 215px;
  ul{
    margin:0;
    padding:0;
    list-style: none;
  }
       ul li{
        font-size: $size12px;
     }
  ul li i{
    font-size: $size10px;
    vertical-align: middle;
    margin:0 5px 0 0;
  }
}

.chart-tooltip {
  @include roundBorders(3px);
  background-color: #233242 !important;
  border: 0px !important;
  padding: 10px 20px !important;
  font-size: $size13px;
  color:#fff;
}

.stats{
    margin-bottom: 0;
}

.stats .panel-body{
    height: 321px;
    @include roundBorders(3px 0 0 3px);
}

.stats .panel-body h5{
    font-weight: normal;
    text-transform: uppercase;
    font-size: $size18px;
}
.stats .panel-body ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
.stats .panel-body li{

    padding:10px 0;
}

.stats .panel-body .badge{
    background-color:#fff;
    color:#46C6A2
}

.stats .panel-body li i{

}

#server-chart{
    height: 270px;
}

.reportdate{
    cursor: pointer;
}

//chartjs doughnut
#doughnut-canvas-holder{
    max-width: 137px;
    min-width: 80px;
}
//sparkline
.jqstooltip {
    font-size: $size16px;
    padding: 25px;
    min-width: 35px!important;
    min-height: 35px!important;
}
