div.config {
    background: #F0F3F3;
    width: 205px;
    position: fixed;
    top: 185px;
    z-index: 1002;
    border-radius: 0 0 0 5px;
    right: -205px;
}
div.config div.config-swatch-wrap {
    margin: 10px;
    position: relative
}
div.config h4 {
     background-color: #1D212A;
    color: #fff;
    padding: 2px 0 5px 10px;
    margin: 0;
    line-height: 30px;
    font-size: 13px;

}
div.config h4 a {
    background-color: #1D212A;
    display: block;
    height: 37px;
    position: absolute;
    left: -40px;
    top: 0;
    width: 40px;
    font-size: 17px;
    line-height: 40px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px 0 0 5px;
}
div.config h4 a i {
    margin-right: 5px
}
div.config h4 a:hover {
    text-decoration: none
}
.config-swatch-wrap {
    .options {
        margin:0;
        padding: 0;
        list-style: none;
       li.title {
            font-weight: 700;
            font-size: $size13px;
            text-transform: uppercase;
            padding: 5px 10px;
            width: 100%;
        }
        li{
            width: 100%;
            padding: 5px 0;
        }
        .theme-style-wrapper {
            height: 30px;
            border: 1px solid #E0E0E0;
            span.header {
                width: 50%;
                height: 10px;
                float: left;
            }
            span.nav {
                width: 50%;
                height: 20px;
                float: left;
            }
            .bg-white {
                background: #fff;
            }
            .bg-dark {
                background: #1D212A;
            }
            .bg-info {
                background:$infoColor;
            }
            .bg-grey {
                background: $defaultColor;
            }
            .bg-red {
                background: $dangerColor;
            }
          .bg-green {
                background: $successColor;
            }
           .bg-dark-blue {
                background: $primaryColor;
            }
        }
        .theme-style-wrapper:hover {
            cursor: pointer;
        }
    }
}
