
.default-color{
    color:$defaultColor;
}

.primary-color{
    color:$primaryColor;

}
.success-color{
    color:$successColor;

}
.info-color{
    color:$infoColor;

}
.warning-color{
    color:$warningColor;

}
.danger-color{
    color:$dangerColor;

}
.default-bg-color{
    background-color:$defaultColor;
}

.primary-bg-color{
    background-color:$primaryColor;

}
.success-bg-color{
    background-color:$successColor;

}
.info-bg-color{
    background-color:$infoColor;

}
.warning-bg-color{
    background-color:$warningColor;

}
.danger-bg-color{
    background-color:$dangerColor;

}
.text-muted {
    color: #a2a2a2!important;
}
.padding-none{
	padding:0!important;
}
.margin-none{
	margin:0;
}
.block{
	display:block;
}
.no-gutter{
	margin-right: 0;
	margin-left: 0;
}
.arrow.right {
top: 50%;
right: -9px;
margin-top: -9px;
border-left-color: rgba(0,0,0,0.1);
border-right-width: 0;
}
.arrow.left {
    top: 50%;
    left: -9px;
    margin-top: -9px;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-left-width: 0;
}
.arrow,
.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.arrow {
    z-index: 10;
    border-width: 9px;
}



//maps
.google-map {
    height: 350px;
}
.jvectormap-zoomin, .jvectormap-zoomout {
width: 15px;
height: 17px;
}
