.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff; 
    z-index: 200000;
    opacity: .6;
    .iconWrapper {
        background: none;
        margin: 20% auto;
        height: 150px;
        width: 150px
    }
   .iconWrapper i {
        font-size: 3em;
        color: #000;
    }
}

.preloader-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 200000;
    opacity: .6;
    top:0;
    .iconWrapper {
        background: none;
    }
    .iconWrapper i {
        font-size: 3em;
        color: #000;
    }

}
