#sidebar-right {
    width: 240px;
    height: 100%;
    background: #fff;
    z-index: 100;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    right: 0;
    padding-top: 60px;
    display: none;
    box-shadow: 0 0 9px rgba(190, 190, 190, .5);
}

.sidebar-right-open{
    display: block!important;
}

#sidebar-right .sidebar-title {
    color: #e8e8e8;
    padding: 10px;
    background-color: #1d212a;
    text-transform: uppercase;
    font-weight: normal;
    font-size: $size12px;
}
#contact-list-wrapper {
    .heading {
        position: relative;
        border-bottom: solid thin #F2F2F2;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul li {
            display: inline-block;
            padding: 10px;
        }
        ul li.new-contact a {
            vertical-align: sub;
        }
        .search {
            -webkit-appearance: none !important;
            color: #282323;
            outline: 0;
            height: 30px;
            width: 180px;
            padding: 7px 15px;
            font-size: 0.75em;
            font-weight: normal;
            vertical-align: top;
            background-color: #EDF1F2;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border-radius: 30px;
            border: none;
            transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
            position: relative;
        }
        .btn-search {
            position: absolute;
            background: none;
            right: 12px;
            top: 12px;
        }
    }
    #contact-list {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul li {
            border-bottom: solid thin #F2F2F2;
            padding: 10px;
        }
        ul li .row {
            margin: 0;
        }
        ul li:hover {
            cursor: pointer;
            background-color: #f4f7f7;
        }
        .avatar {
            width: 40px;
            height: 40px;
        }
        .avatar i {
            border: solid 1px #fff;
            width: 10px;
            height: 10px;
            margin: 0;
        }
        .location i {
            font-size: $size13px;
        }
    }
}
#contact-user {
    position: fixed;
    height: 55px;
    width:240px;
    bottom: 0;
    text-align: center;
    .chat-user {
        padding: 20px 8px 8px 8px;
        background-color: #F0F3F3;
        height: 55px;
        width: 80px;
       float:left;
    }
    .email-user {
        padding: 20px 8px 8px 8px;
        background-color: #F0F3F3;
        height: 55px;
         width: 80px;
          float:left;
    }
    .call-user {
        padding: 20px 8px 8px 8px;
        background-color: #F0F3F3;
        height: 55px;
         width: 80px;
          float:left;
    }
    .chat-user.active, .email-user.active, .call-user.active {
        background-color: #1D212A;
    }
    .chat-user:hover, .email-user:hover, .call-user:hover{
        background-color: #1D212A;
        color:#F0F3F3;
        cursor: pointer;
    }
      .chat-user:hover span, .email-user:hover span, .call-user:hover span{
        color:#F0F3F3;
    }
    .chat-user.active > span, .email-user.active > span, .call-user.active > span{
         color:#F0F3F3;
    }
}
